{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <style>

    </style>
</head>
<body>
    <div class="container">

        <table class="w-100 table" style="margin:50 auto;text-align: center;">
            <tr>
                <th>Book Id</th>
                <th>Book title</th>
                <th>Book Category</th>
                <th>Book Auther</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>

            {% for i in booklist %}
                <tr>
                    <td>{{i.bid}}</td>
                    <td>{{i.title}}</td>
                    <td>{{i.category}}</td>
                    <td>{{i.author_forien_id}}</td>
                    <td><a class="btn btn-info w-100" href='{% url "update" i.bid %}' style="margin: 0 auto 10px auto;">Update Book</a></td>
                    <td><a class="btn btn-danger" href='{% url "delete" i.bid %}' type="submit">Delete</a></td>
                </tr>
                {% endfor %}
            
        </table>

        
        <a class="btn btn-primary w-100" href='addbook' style="margin: 0 auto 10px auto;">Add Book</a>


    </div>
    </body>
    </html>
    
